
.card img {
    width: inherit;
    height: 200px;
    padding: 5px;
  }

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}
.container {
    width: 800px;
    border: 5px solid rgb(255, 255, 255);
    background-color: rgba(5, 5, 55, .5);
    margin: auto;
    display: flex;
    /* flex-wrap: wrap; */
    cursor: pointer;
    flex-direction: column;
}
.card {
    display: flex;
    position: relative;
    overflow: hidden;
}
.img-title {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(5,5,5,0), rgba(5,5,5,1) );
    top: 220px;
    transition: all .05s ease-in;
}
.img-title h3 {
    padding-top: 35%;
    text-align: center;
    color: white;
    line-height: 2px;
    top: 130px;
    text-shadow: tomato;
}
.card:hover .img-title {
    top: 0;
    transition: all .5s ease-out;
}
.card img {
    transform: scale(1);
    transition: all .3s ease-out;
}
.card:hover img {
    transform: scale(1.1);
    transition: all .3s ease-in;
}
.bag {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#content {
    background-image: url(../Asset/Image/3518004.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
    


