@font-face {
  font-family: "heading";
  src: url("../Asset/font-family/font/Valorant\ Font.ttf");
}

/* mengatur pre-loader */
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  font-family: "Oswald", sans-serif;
  background: #1d211e;
  font-size: 22x;
  line-height: 22px;
  color: #ffffff;
  text-align: left;
}
#cover h1 {
  font-family: "heading";
  position: absolute;
  text-align: center;
  color: white;
  z-index: 3;
  width: 80vw;
  font-size: 15vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0px 0px 30px gold;
}

h2 {
  text-align: center;
  margin-bottom: 100px;
}

#loadingBox {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: absolute;
  z-index: 1005;
}
#loadingWidth {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#loading {
  height: 15px;
  background-color: gray;
  overflow: hidden;
  background-color: blue;
  animation: load 2s linear;
}
@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* mengatur home page */
#myVideo {
  position: absolute;
  left: -20%;
  z-index: 2;
}
#cover {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}
