@font-face {
  font-family: "navigasi";
  src: url("../Asset/font-family/font/Navigasi.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #fff;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}
#content {
  max-width: 100%;
  min-height: 100vh;
  background-color: black;
  padding-top: 8%;
  padding-bottom: 150px;
}

/* mengatur navigasi */

a {
  color: #ffffff;
  text-decoration: none;
}
nav {
  margin: 0;
  background-color: rgb(34, 32, 32);
  position: fixed;
  z-index: 1000;
  width: 100%;
}
img#img-navigasi {
  margin: 5%;
  margin-top: 10%;
  margin-left: 5%;
}
nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
nav ul li {
  display: inline-block;
  background-color: rgb(34, 32, 32);
  font-family: "navigasi";
}
nav a {
  display: block;
  padding: 0 10px;
  color: #fff;
  font-size: 20px;
  line-height: 50px;
  text-decoration: none;
}
nav a:hover {
  border-bottom: 1px solid red;
  background-color: rgb(34, 32, 32);
}
nav ul ul {
  display: none;
  position: absolute;
  z-index: 1000;
}
nav ul li:hover > ul {
  display: inline-block;
}
nav ul ul li {
  width: 170px;
  position: relative;
  display: block;
}
nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 85px;
}
/* mengatur footer */

footer {
  background-color: rgb(43, 43, 43);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 0;
}
footer section {
  display: flex;
  justify-content: center;
  margin-top: 2.5%;
}
footer section a#footer-logoWrap {
  display: flex;
  justify-content: center;
}
#footer-logo{
  width: 20%;
}
#footer-logo2{
  width: 8%;
}
footer li.icon {
  width: 55px;
  height: 55px;
  display: inline-flex;
  border-radius: 50%;
}
footer section a#footer-support {
  text-decoration: underline;
}

.facebook {
  background: url(../Asset/Image/social.jpg) -10.5px -1px;
}
.youtube {
  background: url(../Asset/Image/social.jpg) -521px -1px;
}
.twitter {
  background: url(../Asset/Image/social.jpg) -74px 0px;
}
.facebook:hover {
  background: url(../Asset/image/social.jpg) -10.5px -63.5px;
}
.youtube:hover {
  background: url(../Asset/image/social.jpg) -521px -63.5px;
}
.twitter:hover {
  background: url(../Asset/image/social.jpg) -74px -63.5px;
}
